### As the data is too large it takes too long to run the code(Preprocessing, Accuracy)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from textblob import TextBlob
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv("Womens Clothing E-Commerce Reviews.csv")

# data visualization

In [3]:
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
data_women=data["Review Text"]

In [5]:
data_women=pd.DataFrame(data_women)

In [6]:
data_women

                                             Review Text
0      Absolutely wonderful - silky and sexy and comf...
1      Love this dress!  it's sooo pretty.  i happene...
2      I had such high hopes for this dress and reall...
3      I love, love, love this jumpsuit. it's fun, fl...
4      This shirt is very flattering to all due to th...
...                                                  ...
19994  I ordered the floral version of this swimsuit ...
19995  I purchased this top online, love the off the ...
19996                                                NaN
19997  Very comfortable, well made, great with leggin...
19998  This is a very well made sweater. it is a nice...

[19999 rows x 1 columns]

In [7]:
data_women.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Review Text  19288 non-null  object
dtypes: object(1)
memory usage: 156.4+ KB

In [8]:
data_women.shape

(19999, 1)

In [9]:
data_women.isna().sum()

Review Text    711
dtype: int64

In [10]:
data_women=data_women.dropna()

In [11]:
def preprocess(x):
    x=re.sub("[^a-zA-Z ]","",x)
    x=x.lower()
    x=x.split()
    x=[word for word in x if word not in set(stopwords.words("english"))]
    x=[PorterStemmer().stem(word) for word in x]
    x=" ".join(x)
    return x

In [12]:
data_women["Review Text"]=data_women["Review Text"].apply(preprocess)

### polarity of text

In [13]:
def getpolarity(text):
    return TextBlob(text).sentiment.polarity

In [14]:
data_women["polarity"]=data_women["Review Text"].apply(getpolarity)

In [15]:
def getanlaysis(score):
     if score < 0:
        return -1
     elif score == 0:
        return 0
     else:
        return 1

In [16]:
data_women["sentiment"]=data_women["polarity"].apply(getanlaysis)

In [17]:
data_women

                                             Review Text  polarity  sentiment
0                      absolut wonder silki sexi comfort  0.000000          0
1      love dress sooo pretti happen find store im gl...  0.462500          1
2      high hope dress realli want work initi order p...  0.069412          1
3      love love love jumpsuit fun flirti fabul everi...  0.520000          1
4      shirt flatter due adjust front tie perfect len...  0.458333          1
...                                                  ...       ...        ...
19993  gorgeou flowi dress that great three season th...  0.220833          1
19994  order floral version swimsuit cant realli tell...  0.050000          1
19995  purchas top onlin love shoulder trend look lik...  0.455000          1
19997            comfort well made great leg skinni jean  0.800000          1
19998  well made sweater nice weight great cool morn ...  0.458333          1

[19288 rows x 3 columns]

In [18]:
data_women["sentiment"].value_counts()

 1    17471
-1     1316
 0      501
Name: sentiment, dtype: int64

In [19]:
data_women=data_women.drop(columns="polarity")

In [20]:
data_women

                                             Review Text  sentiment
0                      absolut wonder silki sexi comfort          0
1      love dress sooo pretti happen find store im gl...          1
2      high hope dress realli want work initi order p...          1
3      love love love jumpsuit fun flirti fabul everi...          1
4      shirt flatter due adjust front tie perfect len...          1
...                                                  ...        ...
19993  gorgeou flowi dress that great three season th...          1
19994  order floral version swimsuit cant realli tell...          1
19995  purchas top onlin love shoulder trend look lik...          1
19997            comfort well made great leg skinni jean          1
19998  well made sweater nice weight great cool morn ...          1

[19288 rows x 2 columns]

### Count vectorizer

In [21]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv=CountVectorizer()
X=cv.fit_transform(data_women["Review Text"].values).toarray()
X=pd.DataFrame(X,columns=cv.get_feature_names())

In [22]:
X

,aa,aaaaaaamaz,aaaaandidontwanttopayforship,aaaaannnnnnd,aaaahmaz,aaah,aam,ab,abbey,abbi,...,ziploc,zippedfor,zipper,zipperi,zipperon,zippi,zombi,zone,zooland,zoom
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19283,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19284,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19285,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19286,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19287,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Decision Tree

In [23]:
x_train,x_test,y_train,y_test=train_test_split(X,data_women.sentiment,test_size=0.3,random_state=10)

In [24]:
model_decision=DecisionTreeClassifier(random_state=10)
model_decision.fit(x_train,y_train)
pred=model_decision.predict(x_test)
print(model_decision," Accuracy : ",metrics.accuracy_score(pred,y_test))

DecisionTreeClassifier(random_state=10)  Accuracy :  0.9189562813202005

In [25]:
model_Logistic=LogisticRegression(random_state=10)
model_Logistic.fit(x_train,y_train)
pred=model_Logistic.predict(x_test)
print(model_Logistic," Accuracy : ",metrics.accuracy_score(pred,y_test))

LogisticRegression(random_state=10)  Accuracy :  0.9618109555901158